body{
    padding: 0px;
}
main{
    height: 950px;
    background-image: url(../img/ESCOM.png);
    color: white;
}

.desc{
    margin-top: 50px;
    padding-left: 8px;
    width: 100%;
    text-align: justify;
    color: white;
    font-weight: 500;
}

.log{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row2{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    align-items: center;
    margin: auto;
    background-color: rgba(10, 10, 10, 0.5);
    padding: 10px ;
}

form h2{
    margin: 30px;
}

.input2
{
    margin-bottom: 40px;
}

.input1{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}

.btn{
    background-color:#4D92DF; 
    width:100%;
    margin: 0px auto;
    border: none;
    outline: none;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}